<head>		
	<meta charset="UTF-8" />		
</head>	
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Agendamento</h3>
</div>

<div class="modal-body" id="modal-body"> 		
	<form name="agendamentoForm">
		<div class="form-group">
			<div ng-class="agendamentoForm.selPacientes.$error.required ?
				'form-group has-error has-feedback' : ''">					
				<label for="selPacientes">Nome do Paciente:</label> 
				<select
					id="selPacientes" name="selPacientes" class="form-control"
					ng-init="ctrl.agendamento.paciente=ctrl.lstPacientesAtivos[ctrl.indexPacienteSelecionado]"
					ng-model="ctrl.agendamento.paciente"
					ng-options="paciente.nomeExibicao for paciente in ctrl.lstPacientesAtivos"
					ng-required = "true">
					<option value="">Selecione o paciente</option>
				</select>																							
			</div>								
			<div class="clockpicker" ng-class="agendamentoForm.inicio.$error.pattern || 
				agendamentoForm.inicio.$error.required ? 
				'form-group has-error has-feedback' : ''">
				<label for="inicio">Horário da consulta:</label>
				<input id="inicio" name="inicio" type="text" class="form-control" 
					ng-model="ctrl.agendamento.formatedStart"
					maxlength="5" ng-required="true" onKeyPress="mascara(this, '##:##')" 
					ng-pattern="/^([01]\d|2[0-3]):?([0-5]\d)$/" ng-required="true">
				<script type="text/javascript">			
					$('.clockpicker').clockpicker({
						autoclose: true
					});			
				</script>													 					
			</div>	
			<label for="observacao">Observação: </label> 
			<input id="observacao"	type="text" maxlength="50" class="form-control" ng-model="ctrl.agendamento.description"></input>					
			<div class="checkbox">
				<label><input type="checkbox" value="true" ng-model="ctrl.agendamento.repetirSemanalmente">Repetir semanalmente</label>
			</div>
		</div>
	</form>			
</div>
<div class="modal-footer"> 
	<div class="form-group">
		<button id="btnSalvar" type="button" class="btn btn-primary" 
			ng-click="ctrl.salvar(ctrl.agendamento, ctrl.agendamentoCarregado)" ng-disabled="agendamentoForm.$invalid || !ctrl.isDataChanged(ctrl.agendamento, ctrl.agendamentoCarregado)">Salvar</button>		
		<button id="btnConsulta" type="button" class="btn btn-info" ng-if="ctrl.agendamento.id" ng-click="ctrl.iniciarConsulta(ctrl.agendamento)">Iniciar Consulta</button>
		<button id="btnRemove" type="button" class="btn btn-danger"	
			ng-click="ctrl.confirmarRemocaoEvento(ctrl.agendamento)" ng-if="ctrl.agendamento.id">Remover</button>
		<button id="btnCancel" type="button" class="btn btn-default" ng-click="ctrl.cancelar()">Cancelar</button>
	</div>	 	 
</div>