<head>
	<meta charset="utf-8">
</head>

<div id="page-wrapper" exit-cadastro-paciente-page>	
<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Cadastro de Paciente</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="principais" class="tab-pane fade in active">
						<form novalidate name="cadastroPacienteForm" 
							ng-submit="cadastroPacienteForm.$valid?ctrl.salvarPaciente(ctrl.paciente):false"
							role="form">
							<div class="form-group">
								<div class="form-group row">
									<div class="col-lg-8"
										ng-class="cadastroPacienteForm.nome.$error.required?'form-group has-error has-feedback' : ''">
										<label for="nome">Nome Completo</label> 
										<input name="nome" class="form-control" maxlength="45" ng-model="ctrl.paciente.nomeCompleto" 
											ng-required="true" autofocus>											
									</div>	
									<div class="col-lg-4"
									ng-class="cadastroPacienteForm.grupo.$error.required?'form-group has-error has-feedback' : ''">
										<label for="grupo">Grupo</label>
										<select name="grupo" class="form-control" ng-model="ctrl.paciente.grupo" 
											ng-options="grupo.descricao for grupo in ctrl.lstGruposPacientes track by grupo.id" 
											ng-required="true">	
											<option value="">Selecione o grupo</option>																							
										</select>
									</div>																																																				
								</div>
								
								<div class="form-group row">
									<div class="col-lg-4"
										ng-class="cadastroPacienteForm.cpf.$error.required?'form-group has-error has-feedback' : ''">
										<label for="cpf">CPF</label>									
										<input name="cpf" class="form-control" onKeyPress="mascara(this, '###.###.###-##')" 
											maxlength="14" ng-model="ctrl.paciente.cpf" ng-pattern="/^[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[\-][0-9]{2}$/"
											ng-required="ctrl.maiorIdade?true:false" 
											formatted-cpf>
									</div>
									<div class="col-lg-4">
										<label for="dataNascimento">Data Nascimento</label> 																					
										<input name="dataNascimento" class="form-control" onKeyPress="mascara(this, '##/##/####')" 
											maxlength="10" ng-model="ctrl.paciente.dataNascimento" 
											ng-pattern="/^(?:(?:31(\/)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{4})$|^(?:29(\/)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{4})$/"
											formatted-data-nascimento>
									</div>										
									<div class="col-lg-4">
										<label for="telefoneContato">Telefone de Contato</label>										
										<input name="telefoneContato" class="form-control" onkeypress="mascara(this, '## ####-#####')" 
											maxlength="13" ng-model="ctrl.paciente.telefoneContato" ng-pattern="/^([1-9]){2}[ ][0-9]{4}[-][0-9]{4,5}$/" 
											formatted-telefone>		
									</div>
								</div>																	
								
								
								<div class="form-group row">										
									<div class="col-lg-8">
										<label for="email">Email</label>
										<input name="email" class="form-control" maxlength="90" ng-model="ctrl.paciente.email" ng-pattern="/^\w+([-\.]\w+)*@\w+([-.]\w+)+$/">	
									</div>
									<div class="col-lg-4">
										<label for="sexo">Sexo</label>
										<select name="sexo" class="form-control" ng-model="ctrl.paciente.sexo">
											<option value="">Selecione ...</option>
											<option value="M">Masculino</option>
											<option value="F">Feminino</option>											
										</select>
									</div>	
								</div>
								<div class="form-group row">
									<div class="col-lg-2">
										<label for="cep">CEP</label> 																																													
										<input name="cep" class="form-control" onKeyPress="mascara(this, '#####-###')" 
											maxlength="9" ng-model="ctrl.paciente.cep" 
											ng-pattern="/^[0-9]{5}[-][0-9]{3}$/"																										
											ng-blur="!cadastroClienteForm.cep.$error.pattern && ctrl.paciente.cep?ctrl.buscarCep(ctrl.paciente.cep):''"
											formatted-cep>												
									</div>
																				    																				
									<div class="col-lg-8">
										<label for="logradouro">Logradouro</label> 
										<input id="logradouro" name="logradouro" class="form-control" maxlength="150" ng-model="ctrl.paciente.logradouro" 													
											ng-disabled="ctrl.loading">											
										<p class="help-block" ng-show="ctrl.loading">Aguarde...</p>
									</div>											
									<div class="col-lg-2">
										<label for="logradouro">Número</label> 
										<input id="numero" name="numero" class="form-control" maxlength="10" ng-model="ctrl.paciente.numero" 													
											ng-disabled="ctrl.loading">																						
									</div>									
								</div>
								<div class="form-group row">
									<div class="col-lg-6">
										<label for="complemento">Complemento</label> 
										<input name="complemento" class="form-control" maxlength="45" ng-model="ctrl.paciente.complemento"
											ng-disabled="ctrl.loading">											
									</div>
									<div class="col-lg-6">
										<label for="bairro">Bairro</label> 
										<input name="bairro" class="form-control" maxlength="60" ng-model="ctrl.paciente.bairro"
											ng-disabled="ctrl.loading">											
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-6">
										<label for="localidade">Cidade</label> 
										<input name="localidade" class="form-control" maxlength="50" ng-model="ctrl.paciente.localidade" 													
											ng-disabled="ctrl.loading">											
									</div>
									<div class="col-lg-6">
											<label for="uf">UF</label> 
											<select name="uf" class="form-control" ng-model="ctrl.paciente.uf" ng-disabled="ctrl.loading">
												<option value="">Selecione ...</option>
												<option value="AC">Acre</option>
												<option value="AL">Alagoas</option>
												<option value="AP">Amapá</option>
												<option value="AM">Amazonas</option>
												<option value="BA">Bahia</option>
												<option value="CE">Ceará</option>
												<option value="DF">Distrito Federal</option>
												<option value="ES">Espírito Santo</option>
												<option value="GO">Goiás</option>
												<option value="MA">Maranhão</option>
												<option value="MT">Mato Grosso</option>
												<option value="MS">Mato Grosso do Sul</option>
												<option value="MG">Minas Gerais</option>
												<option value="PA">Pará</option>
												<option value="PB">Paraíba</option>
												<option value="PR">Paraná</option>
												<option value="PE">Pernambuco</option>
												<option value="PI">Piauí</option>
												<option value="RJ">Rio de Janeiro</option>
												<option value="RN">Rio Grande do Norte</option>
												<option value="RS">Rio Grande do Sul</option>
												<option value="RO">Rondônia</option>
												<option value="RR">Roraima</option>
												<option value="SC">Santa Catarina</option>
												<option value="SP">São Paulo</option>
												<option value="SE">Sergipe</option>
												<option value="TO">Tocantins</option>
											</select>											
									</div>
								</div>										
								
								<hr ng-hide="ctrl.maiorIdade||cadastroPacienteForm.grupo.$error.required" />
								<div ng-hide="ctrl.maiorIdade||cadastroPacienteForm.grupo.$error.required">
									<h3>Dados do Responsável</h3>						
									<div class="form-group row">
										<div class="col-lg-4" 
											ng-class="cadastroPacienteForm.nomeResponsavel.$error.required?'form-group has-error has-feedback' : ''">										
											<label for="nomeResponsavel">Nome Completo</label> 
											<input name="nomeResponsavel" class="form-control" maxlength="45" ng-model="ctrl.paciente.nomeCompletoResponsavel" 
												ng-required="ctrl.maiorIdade||cadastroPacienteForm.grupo.$error.required?false:true" autofocus>											
										</div>								
										<div class="col-lg-4">
											<label for="cpfResponsavel">CPF</label> 
											<input name="cpfResponsavel" class="form-control" onKeyPress="mascara(this, '###.###.###-##')" 
												maxlength="14" ng-model="ctrl.paciente.cpfResponsavel" ng-pattern="/^[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[\-][0-9]{2}$/" 
												formatted-cpf>
										</div>	
										<div class="col-lg-4">
											<label for="telefoneContatoResponsável">Telefone de Contato</label>										
											<input name="telefoneContatoResponsável" class="form-control" onkeypress="mascara(this, '## ####-#####')" 
												maxlength="13" ng-model="ctrl.paciente.telefoneContatoResponsavel" ng-pattern="/^([1-9]){2}[ ][0-9]{4}[-][0-9]{4,5}$/" 
												formatted-telefone>		
										</div>
									</div>
								</div>		
																																					
								<button id="btnSalvarDados" type="submit" style="float: right;" class="btn btn-primary">Salvar</button>
							</div>						
						</form>																							    			
  					</div>	  						  							  					  							  						  															
				</div>
			</div>
		</div>
	</div>	
</div>
