<head>		
	<meta charset="UTF-8" />		
</head>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Configurações</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="inset">
				<md-switch class="md-primary" md-no-ink aria-label="Alterar Integração Google Calendar" 
					ng-model="ctrl.isVinculadoGCal" ng-change="ctrl.onChange(ctrl.isVinculadoGCal)">
	    			Integrar agenda com Google Calendar
	  			</md-switch>	  			
  			</div>
		</div>
	</div>
</div>