<!DOCTYPE html>
<html ng-app="syspsi">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-header">							
           	<h3 class="modal-title" id="modal-title">Confirmação</h3>
        </div>
        <div class="modal-body" id="modal-body">
			<form>								
				<p>{{msgConfirmacao}}</p>											
			</form>
        </div>
        <div class="modal-footer">            
           	<div class="form-group">
           		<button id="btnSim" type="button" class="btn btn-success" ng-click="removerEventosFuturos(agendamento)">Sim</button>
				<button id="btnNao" type="button" class="btn btn-danger"  ng-click="cancelar()">Não</button>					
           	</div>        							
		</div>
	</body>
</html>