<head>		
	<meta charset="UTF-8" />		
</head>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-6">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-edit fa-fw"></i> Próximas Consultas
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<p>bla bla bla em 12/12/12 às 15h40</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-money fa-fw"></i> Financeiro
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
				    	<div class="col-lg-6 col-md-6">
				        	<div class="panel panel-red">
				            	<div class="panel-heading">
				                	<div class="row">
				                    	<div class="col-xs-3">
				                        	<i class="fa fa-arrow-down fa-5x"></i>
				                        </div>
				                        <div class="col-xs-9 text-right">
				                        	<div class="huge">{{ctrl.totalDespesasMesCorrente | monetarioFormat}}</div>
				                           	<div>Despesas este mês</div>
				                       	</div>
				                 	</div>
				          		</div>
				                <a href="#">
					                <div class="panel-footer">
					                	<span class="pull-left">Ver Detalhes</span>
					                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					                    <div class="clearfix"></div>
					                </div>
				                </a>
				    		</div>
				    	</div>    	
				    	<div class="col-lg-6 col-md-6">    	
				        	<div class="panel panel-green">
				            	<div class="panel-heading">
				                	<div class="row">
				                    	<div class="col-xs-3">
				                        	<i class="fa fa-arrow-up fa-5x"></i>
				                      	</div>
				                        <div class="col-xs-9 text-right">
				                        	<div class="huge">{{ctrl.totalConsultasMesCorrente | monetarioFormat}}</div>
				                            <div>Receitas este mês</div>
				                       	</div>
				              		</div>
				             	</div>
				              	<a href="#">
				                	<div class="panel-footer">
				                    	<span class="pull-left">Ver Detalhes</span>
				                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				                        <div class="clearfix"></div>
				                  	</div>
				            	</a>
				    		</div>
				  		</div>
				    </div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-3">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-star fa-fw"></i> Aniversariantes do mês
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div id="morris-bar-chart"></div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>				
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<div class="col-lg-3">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Sexo
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div id="morris-bar-chart"></div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>				
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<div class="col-lg-3">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Convênio
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div id="morris-bar-chart"></div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>				
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<div class="col-lg-3">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Grupo
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div id="morris-bar-chart"></div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>				
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>