<!DOCTYPE html>
<html ng-app="syspsi">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="modal-header">							
           	<h3 class="modal-title" id="modal-title" style="color:red;">Erro</h3>
        </div>
        <div class="modal-body" id="modal-body">
			<form>
				<p>Algo saiu errado!</p>
				<p style="color:blue; display:inline">Mensagem: </p>
				<p style="display:inline">{{msgErro}}</p>											
			</form>
        </div>
        <div class="modal-footer">            
           	<div class="form-group">
				<button id="btnFechar" type="button" class="btn btn-default" ng-click="$ctrl.cancelar()">Fechar</button>					
           	</div>        							
		</div>
	</body>
</html>