<head>
	<meta charset="utf-8">
</head>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Financeiro</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">					
				<div class="panel-body">
					<div class="col-lg-8">
						<button type="button" ng-click="ctrl.cadastrarDespesa()" class="btn btn-primary btn-lg btn-block">Cadastrar nova Despesa</button>
					</div>												
				</div>
			</div>
		</div>
	</div>
</div>									