<head>
	<meta charset="utf-8">
</head>
<div id="page-wrapper" exitCadastroDespesaPage>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Financeiro</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">					
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<button type="button" ng-click="ctrl.cadastrarDespesa()" class="btn btn-primary btn-lg btn-block">Cadastrar nova Despesa</button>
						</div>								
					</div>
					
					<hr />
					<div class="row">
						<div class="col-md-2">
							<h4>Período:</h4> 
						</div>
						<div class="col-md-4">
							<md-datepicker ng-model="ctrl.dtInicio" md-placeholder="Informe a data"></md-datepicker>
						</div>
						<div class="col-md-4"> 
							<md-datepicker ng-model="ctrl.dtFim" md-placeholder="Informe a data" md-min-date="ctrl.dtInicio"></md-datepicker>
						</div>
						<div class="col-md-2"> 
							<button type="button" ng-click="ctrl.pesquisarPeriodo(ctrl.dtInicio, ctrl.dtFim)" class="btn btn-primary btn-block">Pesquisar</button>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-8">
							<h4>Total recebido com consultas no período: </h4>
						</div>
						<div class="col-md-4" style="text-align: right; color: #0A6CAC;">
							<h4>{{ctrl.totalConsultasPeriodo | monetarioFormat}}</h4>
						</div>
					</div>
					
                 	<div id="list" class="row">                 		 
						<table ng-table="ctrl.tableParams" class="table table-condensed table-bordered table-striped">
							<caption style="text-align: center;">Despesas no período</caption>							
    						<tr ng-repeat="despesa in $data">
        						<td data-title="'Descrição'">{{despesa.descricao}}</td>
					            <td data-title="'Dt Vencimento'">{{despesa.vencimento | date: 'dd/MM/yyyy'}}</td>
					       		<td data-title="'Valor'">{{despesa.valor | monetarioFormat}}</td>
					            <td data-title="'Pago'">{{despesa.pago | booleanFormat}}</td>
					            <td data-title="'Observação'">{{despesa.observacao}}</td>
					            <td data-title="'Ações'">
					            	<a class="btn btn-warning btn-xs" ng-click="ctrl.editarDespesa(despesa)" title="Editar Despesa"><i class="fa fa-pencil fa-fw"></i></a>
					                <a class="btn btn-danger btn-xs" ng-click="ctrl.excluirDespesa(despesa)" title="Excluir Despesa"><i class="fa fa-close fa-fw"></i></a>
					            </td>					                    		
    						</tr>    						    						    						    					
						</table>
					 </div> <!-- /#list -->                             		                                 																																	
				</div>
			</div>
		</div>
	</div>
</div>									