<md-dialog>
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Finalizar Consulta</h2>
			</div>
		</md-toolbar>
	
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="md-block">
  					<label>Valor</label>
  					<input type="number" ng-model="valor" required>
				</md-input-container>
								
				<md-checkbox ng-model="recibo" aria-label="Recibo emitido para o paciente">
  					Recibo emitido para o paciente
				</md-checkbox>
				
			</div>
		</md-dialog-content>
	
		<md-dialog-actions layout="row"> 
			<md-button ng-click="finalizarConsulta()"> Finalizar </md-button> 
			<md-button ng-click="cancel()"> Cancelar </md-button> 
		</md-dialog-actions>
	</form>
</md-dialog>