<!DOCTYPE html>
<html ng-app="syspsi">
<head>
	<meta charset="utf-8">
	
	<!-- MetisMenu CSS -->
	<link href="lib/metisMenu/metisMenu.min.css" rel="stylesheet">
			
	<!-- Custom Fonts -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
		
	
	<!-- Metis Menu Plugin JavaScript -->
	<script src="lib/metisMenu/metisMenu.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="lib/sb-admin/js/sb-admin-2.js"></script>		
</body>
</html>
