<head>
	<meta charset="utf-8">
</head>
<div id="page-wrapper" exit-consulta-paciente-page>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Prontuários de {{ctrl.agendamento.paciente.nomeExibicao}}</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-12">			
			<div class="col-md-2">
				<h4>Período:</h4> 
			</div>
			<div class="col-md-4">
				<md-datepicker ng-change="ctrl.searchDisabled = false;" ng-model="ctrl.dtInicio" md-placeholder="Informe a data inicial"></md-datepicker>
			</div>
			<div class="col-md-4"> 
				<md-datepicker ng-change="ctrl.searchDisabled = false;" ng-model="ctrl.dtFim" md-placeholder="Informe a data final" md-min-date="ctrl.dtInicio"></md-datepicker>
			</div>
			<div class="col-md-2"> 
				<button type="button" ng-disabled="ctrl.searchDisabled" 
					ng-click="ctrl.listarProntuariosPorPeriodo(ctrl.dtInicio, ctrl.dtFim, ctrl.agendamento.paciente)" 
					class="btn btn-primary btn-block">Pesquisar</button>
			</div>			
		</div>
	</div>
	<hr />
	<div class="row">									    	    	    	   		
		<div class="col-md-12">
			<div class="col-md-4 form-group">				
				<select name="dataAgendamento" ng-model="ctrl.agendamento" class="form-control" 
					ng-change="ctrl.oldProntuario = ctrl.agendamento.consulta.prontuario" 
					ng-options="item as item.consulta.inicio | date:'dd/MM/yyyy HH:mm' for item in ctrl.lstAgendamentosComConsulta">																											
				</select>			
			</div>
			<div class="col-md-8">
				<div class="col-md-6 form-group">					
				<button type="button"
					ng-click="ctrl.imprimirRelatorioProntuario(ctrl.agendamento)"
					class="btn btn-primary form-control">Imprimir prontuário selecionado</button>
				</div>
				<div class="col-md-6 form-group">				
				<button type="button"
					ng-click="ctrl.imprimirRelatorioProntuarios(ctrl.dtInicio, ctrl.dtFim, ctrl.agendamento.paciente)"
					class="btn btn-primary form-control">Imprimir prontuários do período</button>
				</div>
			</div>			
		</div>
	</div>
	<br />
	<div class="row">									    	    	    	   		
		<div class="col-md-12">
			<form name="prontuarioForm" role="form">
				<div class="form-group">
					<div id="ckeditor" name="ckeditor" ckeditor="ctrl.options" ng-model="ctrl.agendamento.consulta.prontuario"></div>
					<br />									
					<div class="form-group">
	  					<button id="btnSalvar" name="btnSalvar" type="button" class="btn btn-success" style="float: right;" 
	  						ng-click="ctrl.salvar(ctrl.agendamento)" 
	  						ng-disabled="ctrl.isDisabled(ctrl.agendamento)">Salvar Prontuário</button>   						
	 				</div>																		
				</div>
			</form>	
		</div>							
	</div>
</div>
