<!DOCTYPE html>
<html ng-app="syspsi">
<head>
	<meta charset='utf-8' />
	<link href='css/fullcalendar-3.1.0.min.css' rel='stylesheet' />
	<link href='css/fullcalendar.print-3.1.0.min.css' rel='stylesheet' media='print' />
	<link href='css/bootstrap-3.3.7.min.css' rel='stylesheet' />
	<link href='css/calendario.css' rel='stylesheet' />
		
	<script type="text/javascript" src='js/jquery-3.1.1.min.js'></script>
	<script type="text/javascript" src='js/angular-1.6.0.min.js'></script>
	<script type="text/javascript" src='js/moment-2.17.1.min.js'></script>
	<script type="text/javascript" src='js/fullcalendar-3.1.0.min.js'></script>
	<script type="text/javascript" src='js/locale-all.js'></script>
	<script type="text/javascript" src='js/ui-bootstrap-tpls-2.3.2.min.js'></script>
	<script type="text/javascript" src='js/calendario.js'></script>
	
	<script type="text/javascript" src='js/controller/agenda.js'></script>		
</head>
<body>
	<div id="AgendaCtrl" ng-controller="AgendaCtrl as $ctrl">
		<script type="text/ng-template" id="eventoModal.html">
        	<div class="modal-header">				
            	<h3 class="modal-title" id="modal-title">Ver Agendamento</h3>
        	</div>
        	<div class="modal-body" id="modal-body">
            	<p id="descricaoEvento">{{agendamento.titulo}}</p>
        	</div>
        	<div class="modal-footer">            
            	<div class="form-group">
					<button id="btnEdit" type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Editar Evento</button>
					<button id="btnRemove" type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Apagar Evento</button>
            	</div>
        	</div>
    	</script>
    	
    	<script type="text/ng-template" id="novoEventoModal.html">
        	<div class="modal-header">				
            	<h3 class="modal-title" id="modal-title">Novo Agendamento</h3>
        	</div>
        	<div class="modal-body" id="modal-body">
				<form>	
					<div class="form-group">								
						<label for="selPacientes">Nome do Paciente:</label>
  						<select class="form-control" ng-model="agendamento.titulo" id="selPacientes">
							<option value="">Selecione um Paciente</option>								            					
							<option value="Marcelo Lima">Marcelo Lima</option>
							<option value="Jacira Cunha">Jacira Cunha</option>
						</select>					
					</div>
					<div class="form-group">
						<label for="observacoes">Observações</label>
						<textarea class="form-control" rows="5" id="observacoes" ng-model="agendamento.observacoes"></textarea>
					</div>
				</form>
        	</div>
        	<div class="modal-footer">            
            	<div class="form-group">
					<button id="btnEdit" type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Editar Evento</button>
					<button id="btnRemove" type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Apagar Evento</button>
            	</div>
        	</div>
    	</script>
    			
		<div id='calendar'></div>			
	</div>	
</body>
</html>
